<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <%= form_for(profile) do |f| %>
      <% if profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
          <% profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :user_id %>
        <%= f.text_field :user_id, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :avatar %>
        <%= f.text_field :avatar, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :mob_number %>
        <%= f.text_field :mob_number, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit nil, :class => 'btn update-profile-link' %>
      </div>
    <% end %>

    <hr>
  </div>
</div>
