<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="container-fluid topnav">

     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("spotted_logo.jpg", class: 'img-responsive', alt: "Spotted Logo"), root_path, class: 'navbar-brand' %>
    </div>
    <!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Hi, #{current_user.profile.first_name}", profile_path(current_user.profile.id) %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "FAQ", faq_path %>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- End of Navigation Section -->

<div class="row top-row">
  <div class="text-center col-sm-4 col-sm-offset-4">

      <h1>Your Personal Profile</h1>

      <p id="notice"><%= notice %></p>

      <p>
        <%= image_tag @profile.avatar.thumb.url %> <br />
        <strong>Avatar</strong>
      </p>

      <p>
        <strong>User:</strong>
        <%= @profile.user.email %>
      </p>

      <p>
        <strong>First Name:</strong>
        <%= @profile.first_name %>
      </p>

      <p>
        <strong>Last Name:</strong>
        <%= @profile.last_name %>
      </p>

      <p>
        <strong>Mobile No:</strong>
        <%= @profile.mob_number %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @profile.address %>
      </p>

    <hr>
  </div>
</div>

<div class="row">
  <div class="text-center col-sm-4 col-sm-offset-4">

  <%= link_to 'Edit Profile', edit_profile_path(@profile), class: 'btn edit-profile-link' %>
  <%= link_to 'All Profiles', profiles_path, class: 'btn all-profile-link' %>
  <%= link_to "Edit Registration", edit_user_registration_path, class: 'btn edit-registration-link' %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn sign-out-link' %>

  </div>
</div>

<!-- For tracing <%= "@vehicle.nil? = #{@vehicle.nil?}, current_user.vehicle.nil?=#{current_user.vehicle.nil?}" %> -->
<!-- @vehicle.nil? is equivalent to current_user.vehicle.nil? -->
<% if user_signed_in? && @profile.save && current_user.vehicle.nil? %>
  <div class="row">
    <div class="text-center col-sm-4 col-sm-offset-4">
      <div class="col-sm-5">
        <h3>Start Driving</h3>
        <%= link_to "Build Vehicle Details", new_vehicle_path, class: 'btn build-vehicle-link' %>
      </div>
      <div class="col-sm-1">
        <h3>|</h3>
      </div>
      <div class="col-sm-5">
        <h3>Start Advertising</h3>
        <%= link_to "Build Advertisement", new_vehicle_path, class: 'btn build-advert-link'%>
      </div>
<% else %>
  <br />
  <div class="row">
    <div class="text-center col-sm-4 col-sm-offset-4">
      <%= link_to "Show Vehicle Details", vehicle_path(current_user.vehicle.id), class: 'btn id-vehicle-link' %>
    </div>
  </div>
<% end %>
