<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="container-fluid topnav">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("spotted_logo.jpg", class: 'img-responsive', alt: "Spotted Logo"), root_path, class: 'navbar-brand' %>
      </div>
      <!-- /.navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Hi, #{current_user.profile.first_name}", profile_path(current_user.profile.id) %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
          <li>
            <%= link_to "FAQ", faq_path %>
          </li>
          <li>
            <a href="#Contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
    <!-- /.topnav -->
  </div>
  <!-- /.container -->
</nav>
<!-- End of Navigation Section -->

<div class="row top-row">
  <div class="text-center col-sm-10 col-sm-offset-1">

<%= form_tag(vehicles_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Vehicles by model / make / built / color" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

</div>
</div>

<div class="row">
  <div class="text-center col-sm-10 col-sm-offset-1">

    <h1>Search for Drivers to Advertise for You</h1>

    <%= render 'vehicles/vehicle', vehicles: @vehicles %>

    <%= link_to "Back to Personal Profile", profile_path(current_user.profile.id), class: 'btn btn-lg id-profile-link' %>

  </div>
</div>
