<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <%= form_for(advert) do |f| %>
      <% if advert.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(advert.errors.count, "error") %> prohibited this advert from being saved:</h2>

          <ul>
          <% advert.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <!-- <div class="field">
        <%= f.label :user_id %>
      </div> -->

      <%= f.hidden_field :user_id %>

      <div class="form-group">
        <%= f.label :business_name, 'Business Name' %>
        <%= f.text_field :business_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :business_number, 'Business Number' %>
        <%= f.text_field :business_number, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :advert_title, 'Advertisement Title' %>
        <%= f.text_field :advert_title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :advert_image, 'Advertisement Image' %>
        <%= f.file_field :advert_image %>
        <% if f.object.advert_image? %>
          <%= image_tag f.object.advert_image.url %> <br />
          <%= f.label :remove_advert_image %>
          <%= f.check_box :remove_advert_image %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :advert_description, 'Advertisement Description'%>
        <%= f.text_area :advert_description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :advert_period, 'Advertisement Period (month)' %>
        <%= f.number_field :advert_period, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :advert_location, 'Advertisement Location' %>
        <%= f.text_field :advert_location, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :advert_sticker_location, 'Vehicle Sticker Location' %>
        <%= f.text_field :advert_sticker_location, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :payout_per_mile, 'Pay per Mile ($AUD)' %>
        <%= f.number_field :payout_per_mile, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit nil, :class => 'btn add-advert-link' %>
      </div>
    <% end %>

    <hr>
  </div>
</div>
