<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="container-fluid topnav">

     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("spotted_logo.jpg", class: 'img-responsive', alt: "Spotted Logo"), root_path, class: 'navbar-brand' %>
    </div>
    <!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "FAQ", faq_path %>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- End of Navigation Section -->

<div class="row top-row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1>Create New Advertisement</h1>
  </div>
</div>

  <%= render 'form', advert: @advert %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= link_to 'All Advertisement', adverts_path, class: 'btn all-advert-link' %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn sign-out-link' %>
  </div>
</div>
