<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="container-fluid topnav">

     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("spotted_logo.jpg", class: 'img-responsive', alt: "Spotted Logo"), root_path, class: 'navbar-brand' %>
    </div>
    <!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Hi, #{current_user.profile.first_name}", profile_path(current_user.profile.id) %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "FAQ", faq_path %>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- End of Navigation Section -->

<div class="row top-row">
  <div class="text-center col-sm-4 col-sm-offset-4">

    <h1>Your Latest Advertisement Entry</h1>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>User's First Name:</strong>
      <%= @advert.user.profile.first_name %>
    </p>

    <p>
      <strong>Business Name:</strong>
      <%= @advert.business_name %>
    </p>

    <p>
      <strong>Business Number:</strong>
      <%= @advert.business_number %>
    </p>

    <p>
      <strong>Advertisement Title:</strong>
      <%= @advert.advert_title %>
    </p>

    <p>
      <%= image_tag @advert.advert_image.url unless @advert.advert_image.blank? %> <br />
      <strong>Advertisement Image:</strong>
      <!--<%= @advert.advert_image %>-->
    </p>

    <p>
      <strong>Advertisement Description:</strong>
      <%= @advert.advert_description %>
    </p>

    <p>
      <strong>Campaign Period (Month):</strong>
      <%= @advert.advert_period %>
    </p>

    <p>
      <strong>Advertisement Location:</strong>
      <%= @advert.advert_location %>
    </p>

    <p>
      <strong>Vehicle Decal Position:</strong>
      <%= @advert.advert_sticker_location %>
    </p>

    <p>
      <strong>Payout per Mile (&#36;AUD):</strong>
      <%= @advert.payout_per_mile %>
    </p>

  </div>
</div>

<div class="row">
  <div class="text-center col-sm-4 col-sm-offset-4">

    <%= link_to 'Edit Advertisement', edit_advert_path(@advert), class: 'btn edit-advert-link' %>
    <%= link_to 'New Advertisement', new_advert_path, class: 'btn new-advert-link' %>
    <%= link_to 'All Advertisements', adverts_path, class: 'btn all-advert-link' %>
    <%= link_to 'Back to Profile', profile_path(current_user.profile.id), class: 'btn id-profile-link' %>
    <br />
    <br />
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn sign-out-link' %>
    <td><%= link_to "Book", vehicles_path(advert_id: @advert.id) %></td>
  </div>
</div>

<br />
<br />

<h1 class="text-center">Your Record of Advertisement Entries</h1>
<%= render 'adverts/advert', obj: current_user.adverts %>
