<%= form_for(photo) do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :vehicle_id %>
    <%= f.text_field :vehicle_id %>
  </div> -->



  <div class="field">
    <%= f.label :image, 'Choose Image'%>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.url %> <br />
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
