<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="container-fluid topnav">

     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("spotted_logo.jpg", class: 'img-responsive', alt: "Spotted Logo"), root_path, class: 'navbar-brand' %>
    </div>
    <!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Hi, #{current_user.profile.first_name}", profile_path(current_user.profile.id) %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "FAQ", faq_path %>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- End of Navigation Section -->

<p id="notice"><%= notice %></p>

<div class="container-fluid top-row col-xs-12 col-sm-12 col-lg-12 col-xl-12">

<h1>All Vehicle Photos</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= current_user.profile.first_name %></td>
        <td><%= image_tag photo.image.url unless photo.image.blank? %></td>
        <td><%= link_to 'Show', photo, class: 'btn id-photo-link' %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo), class: 'btn edit-photo-link' %></td>
        <td><%= link_to 'Destroy', photo, class: 'btn destroy-photo-link', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>

<div class="container-fluid  col-xs-12 col-sm-12 col-lg-12 col-xl-12">
  <%= link_to 'New Photo', new_photo_path, class: 'btn new-photo-link' %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn sign-out-link' %>
</div>
