<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle Owner:</strong>
  <%= current_user.profile.first_name %>
</p>

<p>

   <%= image_tag @photo.image.url unless @photo.image.blank? %>
  <strong>Image:</strong>
  <!-- <%= @photo.image %> -->
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
