<!DOCTYPE html>
<html>
  <head>
    <title>Spotted</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  	<meta http-equiv="Content=Type" content="text/html charset="utf-8" />

    <%= favicon_link_tag 'spotted.png' %>
  </head>

  <body>

  <div class="container-fluid app-container">
    <% if notice %>
      <div class="alert alert-info app-container-1"><%= notice %>
        <button type="button" class="close close1" data-dismiss="alert">×</button>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-warning .app-container-2"><%= alert %>
        <button type="button" class="close close1" data-dismiss="alert">×</button>
      </div>
    <% end %>

    <%= yield %>

  </div>


  </body>

</html>
